
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');


body {
 
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/thumbimg_25361957thumbejpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
  height: 100vh;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
